.please-refer-to1,
.refund-policy {
  width: 1680px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.refund-policy {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.please-refer-to1 {
  font-size: 16px;
  line-height: 22px;
  font-family: "Work Sans";
}
.policy-content {
  align-self: stretch;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #1c1c1c;
  font-family: Archivo;
}
.wishdeck-we-us {
  width: 1680px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: #454545;
  display: inline-block;
  max-width: 100%;
}
.eligibility-for-refunds {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.eligibility-for-refunds-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.the-product-or,
.you-have-canceled {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.eligibility-for-refunds-parent,
.eligibility-reasons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.eligibility-reasons {
  align-self: stretch;
  gap: 16px;
  font-size: 16px;
  font-family: "Work Sans";
}
.eligibility-for-refunds-parent {
  width: 1680px;
  gap: 32px;
  max-width: 100%;
}
.non-refundable-items-and-servi {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.non-refundable-items-and-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.certain-items-or {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: #454545;
}
.non-refundable-items-and-servi-parent {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.exceptions-and-special-circums1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.exceptions-and-special-container1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.exceptions-to-this {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: #454545;
}
.exceptions-and-special-circums-group {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.contact-us2,
.contact-us3 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.contact-us3 {
  padding-left: 43px;
}
.contact-us2 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.blank-line,
.by-using-our,
.if-you-have1 {
  margin: 0;
}
.if-you-have-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: #454545;
}
.contact-us-group {
  width: 1680px;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
}
.contact-us-group,
.refundpolicypage,
.wishdeck-we-us-or-our-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wishdeck-we-us-or-our-parent {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #262626;
  font-family: Archivo;
}
.refundpolicypage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .wishdeck-we-us-or-our-parent {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .refund-policy {
    font-size: 38px;
    line-height: 42px;
  }
  .contact-us2,
  .eligibility-for-refunds-container,
  .exceptions-and-special-container1,
  .non-refundable-items-and-container {
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 750px) {
  .contact-us-group,
  .eligibility-for-refunds-parent,
  .exceptions-and-special-circums-group,
  .non-refundable-items-and-servi-parent {
    gap: 16px;
  }
  .wishdeck-we-us-or-our-parent {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .refund-policy {
    font-size: 29px;
    line-height: 32px;
  }
  .contact-us2,
  .eligibility-for-refunds-container,
  .exceptions-and-special-container1,
  .non-refundable-items-and-container {
    font-size: 19px;
    line-height: 23px;
  }
  .wishdeck-we-us-or-our-parent {
    gap: 16px;
  }
}
