.header-child {
  height: 50px;
  width: 985px;
  position: relative;
  border-radius: 5px;
  background-color: #eee;
  flex-shrink: 0;
  display: none;
}
.product3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.header-labels {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.price,
.quantity {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 45px;
  z-index: 1;
}
.quantity {
  min-width: 74px;
}
.price-quantity-column {
  width: 272px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 43px;
  z-index: 1;
}
.header6 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 38px 13px;
  gap: 139px;
}
.button14,
.button15 {
  height: 54px;
  width: 134px;
}
.button15 {
  width: 143px;
}
.action-buttons,
.item-container {
  display: flex;
  align-items: flex-start;
}
.action-buttons {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.item-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35.3px;
  max-width: 100%;
}
.checkout-details5 {
  position: relative;
  line-height: 22px;
}
.header-wrapper,
.header7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header7 {
  flex: 1;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  padding: 16px 24px;
}
.header-wrapper {
  align-self: stretch;
  padding: 0 0 4px;
}
.cart-subtotal1,
.total-separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 113px;
}
.total-separator {
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-total,
.total-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.total-labels {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.subtotal-total {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 28px 0 25px;
  box-sizing: border-box;
}
.other-taxes1,
.shipping-handling1 {
  position: relative;
  line-height: 22px;
}
.other-taxes1 {
  display: inline-block;
  min-width: 103px;
}
.charge-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.b6,
.b7 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 48px;
  white-space: nowrap;
}
.charge-labels1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.charges-list,
.total-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.charges-list {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.total-details {
  justify-content: flex-start;
  padding: 0 28px 0 25px;
}
.checkout-header,
.summary-divider1,
.total-details {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.summary-divider1 {
  flex: 1;
  position: relative;
  border-top: 1px solid #b6b6b6;
}
.checkout-header {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.b8,
.grand-total1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 100px;
}
.b8 {
  text-align: right;
  min-width: 70px;
  white-space: nowrap;
}
.grand-total-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.additional-charges,
.checkout-details4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.additional-charges {
  align-self: stretch;
  flex-direction: row;
  padding: 0 25px;
}
.checkout-details4 {
  width: 504px;
  border-radius: 5px;
  background-color: #fbfbfb;
  flex-direction: column;
  padding: 0 0 32px;
  gap: 32px;
  min-width: 504px;
}
.items-container,
.items-container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.items-container {
  width: 1536px;
  justify-content: flex-start;
  gap: 47px;
}
.items-container-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Archivo;
}
@media screen and (max-width: 1275px) {
  .checkout-details4 {
    flex: 1;
  }
  .items-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .header6 {
    gap: 69px;
  }
}
@media screen and (max-width: 750px) {
  .item-container {
    gap: 18px;
    min-width: 100%;
  }
  .checkout-details4 {
    gap: 16px;
    min-width: 100%;
  }
  .items-container {
    gap: 23px;
  }
}
@media screen and (max-width: 450px) {
  .header6 {
    gap: 35px;
  }
  .action-buttons,
  .charges-list,
  .grand-total-parent,
  .total-labels {
    flex-wrap: wrap;
  }
}
