.free-shipping-available3 {
  width: 227px;
  position: relative;
  line-height: 100%;
  display: inline-block;
  white-space: nowrap;
}
.ticker3 {
  align-self: stretch;
  background-color: #ea7700;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 11px 20px 10px 21px;
}
.logo-symbol-icon8 {
  height: 64px;
  width: 64px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lucidmyriadgifts8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.logo8 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 25px 0 0;
  box-sizing: border-box;
  gap: 18px;
  max-width: 100%;
}
.logo-symbol-icon9 {
  height: 49.8px;
  width: 49.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lucidmyriadgifts9 {
  margin: 0;
  width: 255px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
}
.logo9 {
  width: 270.9px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  color: #fff;
}
.menu-item-13,
.menu-item-33,
.menu-item-43 {
  height: 22px;
  font-family: Roboto;
  font-size: 16px;
  color: #000;
}
.menu-item-13 {
  flex: 1;
  width: auto;
}
.menu-item-33,
.menu-item-43 {
  width: 57px;
}
.menu-item-43 {
  flex: 1;
  width: auto;
}
.menu-block3 {
  width: 337px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
  max-width: 100%;
}
.contact5 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 56px;
}
.menu-block-2-inner {
  height: 42px;
  width: 121px;
}
.icon7,
.icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.menu-block-23,
.nav4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.menu-block-23 {
  width: 402px;
  justify-content: flex-end;
  padding: 0 0 0 33px;
  gap: 48px;
  font-size: 16px;
  font-family: Roboto;
}
.nav4 {
  align-self: stretch;
  background-color: #fff;
  justify-content: space-between;
  padding: 23px 120px;
  gap: 20px;
  text-align: left;
  font-size: 32px;
  font-family: Manrope;
}
.header8,
.nav-3-desktop3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.nav-3-desktop3 {
  flex: 1;
  flex-direction: column;
}
.header8 {
  align-self: stretch;
  flex-direction: row;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1200px) {
  .nav4 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .nav4 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menu-block-23,
  .menu-block3 {
    gap: 24px;
  }
}
