.product-thumbnail-icon {
  height: 127.1px;
  width: 127.1px;
  position: relative;
  object-fit: cover;
}
.discount-20-off,
.fenty-beauty-50 {
  width: 179px;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.discount-20-off {
  line-height: 22px;
}
.item-price {
  width: 256.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
}
.credits,
.price-value {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.price-value {
  min-width: 70px;
  white-space: nowrap;
}
.credits {
  min-width: 88px;
}
.quantity-adjust {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icon-plus {
  width: 16px;
  height: 16px;
  position: relative;
}
.credit-add-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.icon-separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 11px;
}
.quantity-icons {
  margin: 0;
  height: 19px;
  width: 16px;
}
.adjust-buttons {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
  gap: 26.5px;
}
.item-time {
  align-self: stretch;
  height: 38px;
  font-family: Archivo;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.credit-adjustments {
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.quantity-adjust-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 90px 0 0;
  box-sizing: border-box;
  min-width: 203px;
  max-width: 100%;
  gap: 20px;
}
.separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 70px;
  white-space: nowrap;
}
.cart-item {
  width: 899px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  max-width: 100%;
}
.item-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.item-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20.9px;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Archivo;
}
@media screen and (max-width: 750px) {
  .cart-item {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .quantity-adjust-parent {
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
