.image-containers,
.pngwing-1-icon6 {
  position: absolute;
  margin: 0 !important;
}
.image-containers {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #ceef51, #efffa7);
}
.pngwing-1-icon6 {
  height: 242.5px;
  width: 242px;
  right: -217.1px;
  bottom: -163.5px;
  object-fit: cover;
  z-index: 1;
}
.giftcards5,
.wishdeck5 {
  margin: 0;
}
.wishdeck-giftcards5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.product-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.usd-100-10008 {
  width: 166.6px;
  height: 22.9px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.card-design12,
.card-design13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card-design13 {
  flex: 1;
  flex-direction: column;
  padding: 28.3px 20px 136px 30px;
  box-sizing: border-box;
  position: relative;
  gap: 4.6px;
}
.card-design12 {
  align-self: stretch;
  flex-direction: row;
}
.wishdeck-giftcard-clothes {
  position: relative;
  line-height: 22px;
}
.text11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.usd-200 {
  position: relative;
  line-height: 22px;
  color: #1c1c1c;
  display: inline-block;
  min-width: 118px;
}
.product-descriptions,
.product21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.product21 {
  width: 402px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  gap: 24px;
  max-width: 100%;
  text-align: left;
  font-size: 30px;
  color: #1d1d1d;
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .wishdeck-giftcards5 {
    font-size: 24px;
    line-height: 29px;
  }
}
@media screen and (max-width: 450px) {
  .wishdeck-giftcards5 {
    font-size: 18px;
    line-height: 22px;
  }
}
